<html ng-app="myApp">
	<head>
	<title>Angular Setup</title>
	<script type="text/javascript" src="../libs/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
	<body>
	<div ng-controller="ParentController">
		<input type="text" ng-model="model.name">
		<p>This is the parent: {{model.name}}
	

	<div ng-controller="ChildController">
		<input type="text" ng-model="model.name">
		<p>This is the child: {{model.name}}
	</div>

	<div ng-controller="IndieController">
		<input type="text" ng-model="model.name">
		<p>This is the child: {{model.name}}
	</div>
	</div>
	</body>
</html>